body {
    background-color: blueviolet;
}
h1{
    color: white;
    font-size: 3rem;
}
.harry{
    background: red;
}
li{
    color: white;
}
.music{
    background-color: brown;
}
.feel{
    color: yellow;
}
    
